.splash
{
    background-image: url("../Images/bgSplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.loginBackground
{
    background-image: url("../Images/LoginBackground.jpg");
    background-position:top;
    background-size: cover;
    background-repeat: no-repeat;
}
.LoginModule
{
    background-color: #fc361c;
    color:black;
    height:60vh;
    border-radius:10px;
}
.input-field input[type=text]+label,
.input-field input[type=text]+label:active,
.input-field input[type=text]+label:focus,
.input-field input[type=text]+label:hover
{
    color:black;
    border-color: black;
    font-weight: bolder;
}
.input-field input[type=text]:focus {
   border-bottom: 1px solid black !important;
   box-shadow: 0 1px 0 0 black !important;
 }
.heading
{
    border-bottom: 10px;
    border-bottom-color: black;
}
#slide-out
{
    background-image: url("../Images/SideNav.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.side-item a
{
    color: white;
}
.side-item:hover,
.side-item:active,
.side-item:focus
{
    background-color: black;
}
.textboxesTable tr
{
    border-style: none;
    padding:0px 0px;
}
.particularList
{
    margin-top:2%;
    margin-bottom:2%;
}
.BillList,
.BillPayment
{
    display:none;
}
.tabsBill
{
    margin-top:5%;
}
.browser-default
{
    width:8%;
    height:5vh;
    border-radius: 5px;
}
#pheight,
#pwidth
{
    width:12%;
    height:5vh;
    border-radius: 5px;
}
.taxDropdowns
{
    margin-top:5%;
}
.multiply
{
    margin-left:2%;
    margin-right:2%;
}